/wos-persistence/bin
/wos-hmi/bin
/wos-ot/bin
/wos-serv/bin
/wos-utils/bin
wos-hmi/database.db
/wos-serv/.settings
/wos-utils/.settings
/wos-hmi/.settings
/wos-persistence/.settings
wos-hmi/.classpath
wos-ot/.classpath
wos-ot/.project
wos-persistence/.classpath
wos-persistence/.project
wos-serv/.classpath
wos-serv/.project
wos-utils/.classpath
wos-utils/.project
wos-hmi/.project
/wos-ot/.settings
.settings/org.eclipse.m2e.core.prefs
.project
/.idea
/wos-hmi/log
